langchain==0.3.2 
langchain-openai
langchain-community
langchain-ollama
llama-index
llama-index-vector-stores-faiss
llama-index-embeddings-langchain
openai
faiss-cpu
rank_bm25
qdrant-client
llama-index-postprocessor-cohere-rerank
langchain-huggingface
mlflow
fastapi
uvicorn
cryptography
apache-airflow
streamlit
transformers
unstructured[md]
hf_xet